<div class="detail-section">
  <div class="container-fluid">
    <img src="{{ product.imageUrl }}" alt="image" class="detail-image" />
    <h3>{{ product.name }}</h3>
    <div class="price">{{ product.unitPrice | currency : "USD" }}</div>
    <a href="#" class="primary-btn" style="text-decoration: none"
      >Add to cart</a
    >
    <hr />
    <h4>Product Description</h4>
    <p>{{ product.description }}</p>
    <hr />
    <a href="/products" class="mt-5">Back to all products</a>
  </div>
</div>
